<div class="well">
  <%= raw(@markdown.render(comment.body)) %>
  <p><%= render "posts/author_help", post: comment %></p>
    <% if current_user == comment.user %>
        <div class="btn-toolbar">
            <%= link_to 'Edit', [:edit, comment.post, comment], controller: :comments,
                        class: "btn btn-warning btn-mini"  %>
            <%= link_to("Delete", [comment.post, comment], method: :delete, controller: :comments,
                        class: "btn btn-danger btn-mini", data: { confirm: 'Are you sure?' }) %>
        </div>
    <% end %>
    <%= link_to "Reply", new_comment_comment_path(comment) %>
    <% comment.comments.each do |comment| %>
        <%= render "comments/comment_partial", comment: comment %>
    <% end %>
</div>

