<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:nick_name) %></th>
      <th>Posts</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.last_name %></td>
        <td><%= user.nick_name %></td>
        <td><%= user.posts.size %></td>
        <td><%= user.comments.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
