<div class="qap_form">

  <%= form_for @comment do |f| %>
      <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %>
              prohibited this post from being saved:</h2>
            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <fieldset>
        <legend>Leave comment</legend>
        <%= f.text_field :title, hidden: true, value: @comment.title %>
        <%= f.text_field :post_id, hidden: true, value: @comment.post_id  %>
        <%= f.text_field :post_type, hidden: true, value: "comment"  %>
        <div>
          <%= f.label :body %>:
          <%= f.text_area :body, size: 200 %>
        </div>

        <div>
          <%= f.submit %>
        </div>

      </fieldset>
  <% end %>

</div>