<div class="well well-small">
    <blockquote>
    <div class="span11">
      <%= link_to post.title, post %>
    </div>
      <abbr title="commentaries"><span class="badge badge-info"><%= post.comments.length %></span></abbr>
  </blockquote>
  <div class="row show-grid">
    <div class="span10">
      <%= raw(truncate(@markdown.render(post.body), length: 200))%>
    </div>
  </div>
  <%= button_to("Delete", post, method: :delete, class: "btn btn-danger btn-mini", data: { confirm: 'Are you sure?' }) if current_user == post.user %>
  <p><%= render :partial => "posts/author_help", locals: { post: post } %></p>
</div>
