<div class="well well-small">
    <blockquote>
        <abbr title="commentaries"><span class="badge badge-info"><%= post.comments_count %></abbr>
        <div class="span10">
            <%= link_to post.title, defined?(admin) ? [:admin, post] : post %>
        </div>
    </blockquote>
  <div class="row show-grid">
    <div class="span10">
      <%= raw(truncate(@markdown.render(post.body), length: 200))%>
    </div>
  </div>
  <!--%= button_to("Delete", post, method: :delete, class: "btn btn-danger btn-mini",
            data: { confirm: 'Are you sure?' }) if current_user == post.user %-->
  <p>
      <%= render "posts/author_help", post: post %>
      <% if defined?(admin) %>
          <%= render "posts/tags", tags: post.tag_list, admin: true %>
      <% else %>
          <%= render "posts/tags", tags: post.tag_list  %>
      <% end %>
  </p>
</div>
