<div class="well well-small">
    <div class="span11">
      <p><%= @post.title %></p>
    </div>
</div>
  <div class="span10">
    <p id= "post_body"><%= raw(@markdown.render(@post.body)) %></p>
  </div>
<div class="span12">
    <% if current_user == @post.user %>
    <div class="btn-toolbar">
      <%= link_to 'Edit', {action: "edit", id: @post.id}, controller: :posts, class: "btn btn-warning btn-mini" %>
      <%= link_to("Delete", @post, method: :delete, class: "btn btn-danger btn-mini", data: { confirm: 'Are you sure?' }) %>
    </div>
    <% end %>
  <p><%= render :partial => "posts/author_help", locals: { post: @post } %></p>
</div>


<div class="span11">
  Comments:
  <% @comments.each do |comment| %>
      <%= render "comments/comment_partial", comment: comment %>
  <% end %>
    <%= will_paginate @comments %>

    <%= render 'comments/form', comment_var: [@post, @comment] %>
</div>
